server:
  port: 8081

spring:
  h2:
    console:
      enabled: true

#  datasource:
#    url: jdbc:mysql://localhost:3308/data_aggregation?serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true
#    username: root
#    password: root
#    driver-class-name: com.mysql.cj.jdbc.Driver

  datasource:
    url: jdbc:postgresql://cards-nprdb.cluster-cj6y844iyhbc.af-south-1.rds.amazonaws.com:5432/bb_dev
    username: S_DCPS_BB_CARDS_DEV
    password: g9M9vEk!giJQBx
    hikari:
      registerMbeans: true
      maximumPoolSize: 2

#  jpa:
#    database-platform: org.hibernate.dialect.MySQL8Dialect
#    hibernate:
#      ddl-auto: none   # Liquibase handles schema

  liquibase:
    enabled: true
    default-schema: data_aggregation
    change-log: classpath:liquibase/liquibase-changeLog.xml
    liquibase-schema: data_aggregation
    drop-first: true

main:
  allow-bean-definition-overriding: true

app:
  xml-data-file: classpath:raw-transactions.xml
  category-data: classpath:categories.csv
  json-server:
    base-url: http://localhost:3000
