server:
  port: ${SERVER_PORT:8081}

spring:
  jackson:
    date-format: "yyyy-MM-dd HH:mm:ss"
    serialization:
      write-dates-as-timestamps: false

  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3308}/${DB_NAME:data_aggregation}?serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: none   # Liquibase handles schema

  liquibase:
    enabled: true
    default-schema: ${DB_NAME:data_aggregation}
    change-log: classpath:liquibase/liquibase-changeLog.xml
    liquibase-schema: ${DB_NAME:data_aggregation}
    drop-first: true

main:
  allow-bean-definition-overriding: true

app:
  xml-data-file: classpath:raw-transactions.xml
  category-data: classpath:categories.csv
  flat-file: classpath:raw-fixed-length.txt
  json-server:
    base-url: ${JSON_SERVER_BASE_URL:http://localhost:3000}
