server:
  port: 8081

spring:
  jackson:
    date-format: "yyyy-MM-dd HH:mm:ss"
    serialization:
      write-dates-as-timestamps: false

#  datasource:
#    url: jdbc:mysql://mysql:3306/data_aggregation?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
#    username: root
#    password: root
#    driver-class-name: com.mysql.cj.jdbc.Driver

  datasource:
    url: jdbc:mysql://mysql:3306/data_aggregation?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: none   # Liquibase handles schema

  liquibase:
    enabled: true
    default-schema: data_aggregation
    change-log: classpath:liquibase/changelog/liquibase-changeLog.xml
    liquibase-schema: data_aggregation
    drop-first: true

main:
  allow-bean-definition-overriding: true

app:
  xml-data-file: classpath:raw-transactions.xml
  category-data: classpath:categories.csv
  flat-file: classpath:raw-fixed-length.txt
  # Use the mock-server service name so the app reaches it inside the network
  json-server:
    base-url: http://mock-server:1080

api:
  key:
    name: X-API-KEY
    value: 8a716002-ba9a-42c2-a3f4-b045f05f6e7a

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.web: DEBUG
    org.springframework.security.authentication: DEBUG