server:
  port: 8081

spring:
  h2:
    console:
      enabled: true

  datasource:
    url: jdbc:mysql://localhost:3308/data_aggregation?serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    # driver-class-name: com.mysql.cj.jdbc.Driver   # optional; Spring Boot infers it

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: none   # Liquibase handles schema

  liquibase:
    enabled: true
    default-schema: data_aggregation
    change-log: classpath:liquibase/liquibase-changeLog.xml
    liquibase-schema: data_aggregation
    drop-first: true

main:
  allow-bean-definition-overriding: true

app:
  data-file: classpath:transactions.csv
  json-server:
    base-url: http://localhost:3000
